@page "/confidentialitate"
<MudBreadcrumbs Items="_items" MaxItems="5"></MudBreadcrumbs>
<PageTitle>Politica de confidentialitate | DrPrint</PageTitle>

<h3>Politica de confidentialitate</h3>

<span>
<b>Politica de Confidentialitate cu privire la prelucrarea datelor cu caracter personal</b>
<br/>
<br/>
Consideram asigurarea dreptului la protectia datelor cu caracter personal ca un angajament fundamental DrPrint, 
prin urmare vom dedica toate resursele si eforturile necesare pentru a prelucra datele dumneavoastra in deplina 
concordanta cu Regulamentul (UE) 2016/679 (“Regulamentul general privind protectia datelor” sau “GDPR”), precum si 
cu orice alta legislatie aplicabila pe teritoriul Romaniei. Intrucat unul dintre principiile esentiale ale acestui 
cadrul legal il reprezinta transparenta.
<br/>
<br/>
Ne rezervam dreptul de a actualiza si modifica periodic aceasta Politica de Confidentialitate, pentru a reflecta 
orice modificari ale modului in care prelucram datele dumneavoastra cu caracter personal sau orice modificari ale 
cerintelor legale. In cazul oricarei astfel de modificari, vom afisa pe website-ul nostru versiunea modificata a 
Politicii de Confidentialitate, motiv pentru care va rugam sa verificati periodic continutul acestei 
Politici de Confidentialitate.
<br/>
<br/>
Ce categorii de date cu caracter personal prelucram
In general, colectam datele dvs. cu caracter personal direct de la dumneavoastra, astfel incat aveti controlul 
asupra tipului de informatie pe care ne-o oferiti. Cu titlul de exemplu, primim informatii de la dvs. astfel:
<br/>
<br/>
— Cand va creati un cont DrPrint, ne transmiteti: adresa de e-mail, numele si prenumele;
<br/>
<br/>
— In cadrul paginii dvs. personale (Contul meu) din platforma DrPrint aveti posibilitatea sa adaugati informatii 
suplimentare, precum: numar telefon mobil, adrese de livrare etc.;
<br/>
<br/>
— Cand plasati o comanda, ne furnizati informatii precum: produsul dorit, numele si prenumele, adresa de livrare, 
detalii de facturare, numar de telefon etc.
<br/>
<br/>
<b>Politica de utilizare cookie-uri si tehnologii similare</b>
<br/>
<br/>
Aceasta politica se refera la cookie-urile si la tehnologiile similare folosite, dupa caz, in website-ul 
operat de ADCO BIROTIC ART SRL.
<br/>
<br/>
Cookie-urile sunt folosite pentru urmatoarele scopuri:
de functionare a site-ului, de analiza a comportamentului vizitatorilor site-ului, pentru publicitate.
Aceasta politica se completeaza cu politica DrPrint cu privire la protectia datelor personale.
<br/>
<br/>
<b>Ce sunt cookie-urile?</b>
<br/>
<br/>
Cookie-ul este un fisier de mici dimensiuni, format din litere si numere, care va fi stocat pe computerul, terminalul 
mobil sau alte echipamente ale unui utilizator de pe care se acceseaza internetul. Cookie-ul este instalat prin 
solicitarea emisa de catre terminalul utilizatorului catre un server DrPrint sau catre un server al unei terte parti.
<br/>
<br/>
<b>La ce sunt folosite cookie-urile?</b>
<br/>
<br/>
Aceste fisiere fac posibila in principal recunoasterea terminalului utilizatorului si prezentarea continutului intr-un 
mod relevant, adaptat preferintelor utilizatorului.
Cookie-urile asigura utilizatorilor o experienta placuta de navigare si sustin eforturile DrPrint pentru a oferi servicii 
mai adaptate utilizatorilor, ex: – preferintele in materie de confidentialitate online, cosul de cumparaturi sau 
publicitate relevanta. De asemenea, sunt utilizate in pregatirea unor statistici anonime agregate care ne ajuta sa 
intelegem cum un utilizator beneficiaza de paginile noastre de internet, permitandu-ne imbunatatirea structurii si 
continutului lor, fara a permite identificarea personala a utilizatorului.
</span>
<br/>
<br/>

@code {
	private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
	{
		new BreadcrumbItem("Prima pagina", href: "/"),
		new BreadcrumbItem("Inapoi", href: "javascript:history.go(-1)"),

	};
}
