@page "/forgot-password"
@using Microsoft.AspNetCore.WebUtilities
@inject IEmailService EmailService
@inject NavigationManager _nav

<PageTitle>Reseteaza parola | DrPrint</PageTitle>

<div class="div-center">

    <EditForm Model="email" OnValidSubmit="HandleReset">
        <DataAnnotationsValidator />
        <br />
        <br />
        <h6 class="pt-6">
            Te rugam sa introduci adresa cu care te-ai inregistrat.<br />
            Vei primi pe email un link de resetare.
        </h6>
        <div class="mb-3 pt-2">
            <label for="emailTo">Adresa de email</label>
            <input id="email" @bind-value="email.To" class="form-control" type="email" placeholder="exemplu@drprint.ro" />
            <ValidationMessage For="@(()=> email.To)" />
        </div>


        <button type="submit" class="btn btn-primary mb-3">Reseteaza parola</button>

        <div class="@messageCssClass" style="text-align: center">
            <span>@message</span>
        </div>

        <br />
        <br />
    </EditForm>
</div>



@code {

    EmailDTO email = new EmailDTO();

    string message = string.Empty;
    string messageCssClass = string.Empty;
    bool isSubmitting;

    async Task HandleReset()
    {
        if (isSubmitting)
            return;

        isSubmitting = true;
        try
        {
            email.To = email.To;

            var result = await EmailService.SendResetEmail(email);
            message = result.Message;
            if (result.Success)
            {
                messageCssClass = "text-success";
            }
            else
            {
                messageCssClass = "text-danger";
            }
        }
        finally
        {
            isSubmitting = false;
        }

    }

}
