@inherits LayoutComponentBase


<div class="line-top fixed-top" id="top"></div>
<div class="page">

	<div class="sidebar" style="z-index: 999 !important;">
		
		
	</div>




	<main>

		

		<article class="content px-4">

			@Body

			

			<footer class="border-top footer text-muted">
				<div class="container" style="margin-top: 10px; padding-bottom: 20px;">
					&copy; @DateTime.Now.Year - ADCO BIROTIC ART SRL | &#67;&#114;&#101;&#97;&#116;&#32;&#100;&#101;&#32; <a href="mailto:&#97;&#110;&#100;&#114;&#101;&#105;&#110;&#105;&#99;&#111;&#108;&#97;&#101;&#109;&#64;&#121;&#97;&#104;&#111;&#111;&#46;&#99;&#111;&#109;?subject = Adco Birotic" style="text-decoration:none; color:#000"> &#78;&#105;&#99;&#111;&#108;&#97;&#101;&#32;&#65;&#110;&#100;&#114;&#101;&#105; </a>
				</div>
			</footer>

		</article>
		
		
		<div class="line-bottom fixed-bottom"></div>
	</main>
</div>
