<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
       <a href="/pliante/1"> <img src="/images/slider/1.jpg" class="d-block img-size" alt="print-digital"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="shadow">Print digital</h5>
        <span class="shadow">Imprimam documente, carti de vizita, pliante, flyere, postere, foto, canvas si multe altele la cerere.</span>
      </div>
    </div>
    <div class="carousel-item">
            <a href="/tricouri-personalizate/1"><img src="/images/slider/2.jpg" class="d-block img-size" alt="tricouri-personalizate"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="shadow">Articole personalizate</h5>
        <span class="shadow">Personalizam tricouri pentru cadouri, pentru angajatii firmei tale sau ca materiale promotionale, fiind un mod eficient de a face publicitate.</span>
      </div>
    </div>
    <div class="carousel-item">
            <a href="/etichete-autoadezive/1"><img src="/images/slider/3.jpg" class="d-block img-size" alt="etichete-autoadezive"></a>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="shadow">Etichete autoadezive</h5>
        <span class="shadow">Etichete universale din hartie alba de inalta calitate, cu grad de alb mare si adeziv rezistent la temperaturi mari.</span>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>