.container {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.image-wrapper{
    width: 150px;
    text-align:center;
}

.image{
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.details{
    flex-grow: 1;
    padding: 6px;
}

.order-price{
    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}

.small{
    font-size: 13px;
}
.circle {
    margin: 0 auto;
    border: 6px solid #3A83DF;
    border-radius: 50%;
    border-top: 6px solid red;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.message {
    text-align: center;
}