.container {
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
}
.image-wrapper {
    width: 150px;
    text-align: center;
}

.image {
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.name {
    flex-grow: 1;
    padding: 6px;
}
.product-price {
    font-weight: 600;
    text-align: right;
}
.small {
    font-size: 13px;
}
a{
    text-decoration:none;
}
.wb {
    text-align: justify;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
